{{!-- bottom nav --}}
<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom text-light mb-2 p-0">

  <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Clothing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/C_Men">Men</a>
          <a class="dropdown-item" href="/C_Women">Women</a>
          <a class="dropdown-item" href="/C_kids">Kids</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Shoes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/S_Men">Men</a>
          <a class="dropdown-item" href="/S_Women">Women</a>
          <a class="dropdown-item" href="/S_Kids">Kids</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Electronics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Phone">CellPhone</a>
          <a class="dropdown-item" href="/Laptops">Laptops</a>
          <a class="dropdown-item" href="/Accessories">Accessories</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Home Appliances
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Furniture">Furniture</a>
          <a class="dropdown-item" href="/Kitchen">Kitchen</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Auto
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Cars">Cars</a>
          <a class="dropdown-item" href="/Suv's">Suv</a>
          <a class="dropdown-item" href="/Truck">Trucks</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" id="search-li">
        <form action="/search" method="post">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search ADs" name="search">
            <button class="btn p-0" id="button-addon2">
              <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </form>
      </li>
      <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <ion-icon name="help-circle"></ion-icon>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">FAQs</a>
          <a class="dropdown-item" href="#">Site Map</a>
        </div>
      </li>
      <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <ion-icon name="contact"></ion-icon>
        </a>
        {{#if check}}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/userads">Your Ad's</a>
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="/logout">Log Out</a>
        </div>{{else}}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sign-up">Sign Up</a>
          <a class="dropdown-item" href="/login">Log In</a>
        </div>{{/if}}
      </li>
      <li class="nav-item" id="mainpost">
        <a href="/post" class="btn btn-primary p-0 px-2 py-1"><strong>POST AD</strong></a>
      </li>
    </ul>
  </div>


</nav>