{{> header-brand}}
{{> header}}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        {{#if checker}}
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
        {{/if}}
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-offset-3 text-primary">
            <h4 class="text-center">Recent ads <span class="member-name"></span></h4>
            <hr>
        </div>
    </div>
    <div class="row col-12 d-flex justify-content-center">
        {{!-- box-1 --}}
        <div class="border col-3 indexbox p-0 d-flex justify-content-center align-items-center m-3" id="indexbox-1">
            <div class="col-9 p-0">
                <h5 class="text-center rounded text-light bg-warning p-2"> CLOTHING </h5>
            </div>
        </div>

        {{!-- box-2 --}}

        <div class="border col-3 indexbox p-0 d-flex justify-content-center align-items-center m-3" id="indexbox-2">
            <div class="col-9 p-0">
                <h5 class="text-center rounded text-light bg-success p-2"> CELLPHONES </h5>
            </div>
        </div>

        {{!-- box-3 --}}
        <div class="border col-3 indexbox p-0 d-flex justify-content-center align-items-center m-3" id="indexbox-3">
            <div class="col-9 p-0">
                <h5 class="text-center rounded text-light bg-info p-2"> AUTOMOBILE </h5>
            </div>
        </div>

        {{!-- box-4 --}}
        <div class="border col-3 indexbox p-0 d-flex justify-content-center align-items-center m-1" id="indexbox-4">
            <div class="col-9 p-0">
                <h5 class="text-center rounded text-light bg-danger p-2"> SHOES </h5>
            </div>
        </div>

        {{!-- box-5 --}}

        <div class="border col-3 indexbox p-0 d-flex justify-content-center align-items-center m-3" id="indexbox-5">
            <div class="col-9 p-0">
                <h5 class="text-center rounded text-light bg-primary p-2"> HOME APPLIANCE </h5>
            </div>
        </div>

        {{!-- box-6 --}}
        <div class="border col-3 indexbox p-0 d-flex justify-content-center align-items-center m-3" id="indexbox-6">
            <div class="col-9 p-0">
                <h5 class="text-center rounded text-light bg-secondary p-2"> ELECTRONICS </h5>
            </div>
        </div>


    </div>

</div>

{{> footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>