{{> header-brand}}
{{> header}}
<div class="container border my-3">
    <div class="row">
        <div class="col-12 p-0">
            <div class="bg-secondary text-align-center text-light text-center py-2">
                <h5>Post your ad</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5">
            <form action="/api/post" method="post">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input class="form-control" type="text" name="title" id="name" placeholder="title" />
                    <small class="form-text text-muted">
                        Use one standard word to get better response</small>
                </div>
                <div class="form-group col-4 p-0">
                    <label for="inputCategory">Category</label>
                    <select id="inputCategory" name="category" class="form-control">
                        <option selected>Choose...</option>
                        <option value="C_Men">Clothing Men</option>
                        <option value="C_Women">Clothing Women</option>
                        <option value="C_kids">Clothing Kids</option>
                        <option value="Phone">Phone</option>
                        <option value="Laptops">Laptops</option>
                        <option value="Accessories">Accessories</option>
                        <option value="S_Men">Shoes Men</option>
                        <option value="S_Women">Shoes Women</option>
                        <option value="S_Kids">Shoes kids</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Kitchen">Kitchen</option>
                        <option value="Cars">Cars</option>
                        <option value="Suv's">Suv's</option>
                        <option value="Truck">Truck</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="message" name="description" rows="3"></textarea>
                </div>
                <!-- Price -->
                <div class="form-group">
                    <label for="price">Your Price</label>
                    <input class="form-control" type="text" id="price" name="price" placeholder="$$$" />
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input class="form-control" type="number" min="0" id="quantity" name="quantity"
                        placeholder="qty." />
                </div>
                <!-- Upload image -->
                <div class="form-group">
                    <label for="myfile">Upload picture</label>
                    <input type="text" name="logo" class="form-control" id="image"
                        placeholder="Upload your item picture" />
                    <small class="form-text text-danger">
                        Accepts only URLS</small>
                </div>
                <button type="submit" class="btn btn-primary btn-block ">Submit</button>
            </form>
        </div>
    </div>
</div>

{{> footer}}