<div class="container my-5 ">
    <div class="row">
        <div class="col-12">{{#unless checker}}
            <h1 class="search apperance">
                NO SEARCH APPERANCE FOUND FOR 'XYZ'
            </h1>
            {{/unless}}
            {{#if checker}}
            <h1 class="search apperance">
                SEARCH APPERANCE FOR 'XYZ'
            </h1>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div class="card bg-dark text-white">
                <img src="images/artist.jpg" class="card-img search-image" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Shoes</h5>
                </div>
            </div>
        </div>
    </div>
</div>