{{> header-brand}}
{{> header}}



<div class="container my-5 text-secondary">
    <div class="row border-bottom mb-2">
        <div class="col-6">
            <h5>
                Product title goes here
            </h5>
        </div>
        <div class="col-2 font-weight-bold">
            $700.00
        </div>
        <div class="col-2">
            <button class="btn btn-success py-0"> Update</button>
        </div>
        <div class="col-2">
            <button class="btn btn-danger py-0">Delete</button>
        </div>
        <hr>


    </div>

    <div class="row border-bottom mb-2">
        <div class="col-6">
            <h5>
                Product title goes here
            </h5>
        </div>
        <div class="col-2 font-weight-bold">
            $700.00
        </div>
        <div class="col-2">
            <button class="btn btn-success py-0"> Update</button>
        </div>
        <div class="col-2">
            <button class="btn btn-danger py-0">Delete</button>
        </div>
        <hr>
    </div>
</div>
{{> footer}}