.search-image {
  height: 310px;
}

.userlogo {
  width: 10%;
}

.indexbox {
  width: auto;
  height: 200px;
}

#indexbox-1 {
  background-image: url("/images/clothing-1.jpg");
  background-size: cover;
  background-position: center;
}

#indexbox-2 {
  background-image: url("/images/cellphone.jpg");
  background-size: cover;
  background-position: center;
}

#indexbox-3 {
  background-image: url("/images/automobile.jpg");
  background-size: cover;
  background-position: center;
}

#indexbox-4 {
  background-image: url("/images/shoes.jpg");
  background-size: cover;
  background-position: center;
}

#indexbox-5 {
  background-image: url("/images/homeappliance.jpg");
  background-size: cover;
  background-position: center;
}

#indexbox-6 {
  background-image: url("/images/electronics.jpg");
  background-size: cover;
  background-position: center;
}

.h-line {
  border-top: 1px solid rgb(136, 136, 136);
}
/* profile table edits */

.profiletable {
  width: 100%;
}

.profiletable td,
th {
  border-bottom: 1px solid rgb(136, 136, 136);
  padding: 5px 20px;
}
tr:nth-child(even) {
  background-color: #0a3e57;
}

tr:nth-child(odd) {
  background-color: #245064;
}

/* profile box colour */

.profbox {
  background-color: rgb(27, 55, 66);
}

#searchdrop {
  display: none;
}
